<% layout( 'layout' ) -%>
<br><br>

<div class="form-group well" align="center">
	<label for="username">Username</label>
	<input type="text" id="un" name="uname" tabindex="1" onkeydown="if (event.keyCode == 13) document.getElementById('submit').click();">
	<label for="username">Password</label>
	<input type="password" id="pw" name="pword" tabindex="2" onkeydown="if (event.keyCode == 13) document.getElementById('submit').click();">
	<button class="btn btn-default" id="submit" style="margin-left:4px;">Login</button>
</div>

<div align="center">
	<br><span style="color:red;" id="msg"></span>
</div>

<script>
	$(document).ready(function() {
		$("button#submit").click(function() {
			//alert("click");
			var un = $("#un").val();
			var pw = $("#pw").val();
			if (un === "" || pw === "") {
				return;
			}
			var json_data = {
				"user" : un,
				"pw" : pw
			};
			$.post("/login", json_data, function(data) {
				if (data.success) {
					window.location = "/home";
				}
				else {
					$("#msg").text(data.msg);
				}
			});
		});
	}); 
</script>