<div class="footer">
	<div class="container">
		<div class="row" style="padding-bottom:8px;">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" align="left">
				<a href="/admin" hidden id="if-lo">Admin Login</a>
				<div hidden style="display:inline block;" id="if-li">Logged in as <span id="username"></span>. <a href="#" id="logout">Logout</a>.</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" align="center">
				<a href="http://github.com/shreshthkhilani/Stressed-at-Penn" style="text-decoration: none;">
			        <img alt="GitHub" src="GitHub-Mark-32px.png" style="height:24px;">
			    </a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" align="right">
				&copy; 2015 - FNAR 264 Project
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$.get("/loggedIn", {}, function(data) {
			var log = data.loggedIn;
			if (!log) {
				$("#if-lo").show();
			}
			else {
				$("#username").text(data.user);
				$("#if-li").show();
			}
		});
		$("a#logout").click(function(e) {
			e.preventDefault();
			$.post("/logout", {}, function(data) {
				window.location = "/admin";
			});
		});
	});
</script>