<div>
	<div class="container well-img" align="center">
		<h2 class="heading">Stressed At Penn</h1>
	</div>
	<div class="row like-well" align="center">
		<a href="/" class="headA" id="one"><div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-6 col-xs-6"><h4>CONTRIBUTE</h4></div></a>
		<a href="/view" class="headA" id="two"><div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><h4>VIEW GALLERY</h4></div></a>
	</div>
</div>
<script>
	$(document).ready(function() {
		if (window.location.pathname == "/")
			$("#one").addClass("headActive");
		else if (window.location.pathname == "/view")
			$("#two").addClass("headActive");
	}); 
</script>
