<% layout( 'layout' ) -%>
<br><br>
<div class="container">
	<div class="row">
		<div class="well">
			<form role="form" action="/submitPhoto" method="post" enctype="multipart/form-data" onerror="window.location='/'">
				<div class="form-group" align="center">
					<label for="exampleInputFile"><strong>Stressed At Penn</strong> is an exhibit of photographs uploaded and displyed by anyone anonymously.<br>It allows the uploaders to share their stress and reminds them that they aren't alone in feeling that way.<br>Our gallery contains 24 of the most recently uploaded images.<br><br>So, what do you associate with stress?</label>
					<input type="file" id="selectedPhoto" name="displayImage">
					<p class="help-block">.jpg or .png images only, please :)</p>
					<input class="btn btn-default" type="submit" value="Submit">
				</div>
				<!-- <button type="submit" class="btn btn-default" id="submit">Submit</button> -->
			</form>
		</div>
		<div>
			<br>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" align="right">
				<br><div class="fb-like" data-href="http://stressedatpenn.com/" data-layout="box_count" data-action="like" data-show-faces="false" data-share="true"></div>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" align="left">
				<h2 id="count"></h2> 
				<h4>other people are also stressed.<br><br>View some of their images <a href="/view">here</a>.</h4>
			</div>

		</div>
	</div>
</div>
<br>
<script>
	$(document).ready(function() {
		$.get("/getCount", {}, function(data) {
			$("#count").text(data.count);
		});
	}); 
</script>