<!DOCTYPE html>
<html>
	<head>
		<title>Stressed At Penn | <%= title %></title>

		<!-- OG -->
		<meta property="og:title" content="Are you stressed?">
		<meta property="og:site_name" content="Stressed At Penn">
		<meta property="og:url" content="http://stressedatpenn.com/">
		<meta property="og:image" content="http://stressedatpenn.com/stripes.jpg">
		<meta property="og:type" content="website">
		<meta property="og:description" content="What images do you and others at Penn associate with stress?">

		<!-- Favicon -->
		<link rel="shortcut icon" href="stripes-favicon.png">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

		<!-- AJAX -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<!-- My CSS -->
		<link rel="stylesheet" href="style.css">
		
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	<body>
		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '394483490737115',
		      xfbml      : true,
		      version    : 'v2.3'
		    });
		  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "//connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>
		<% include header %>
		<div class="content">
			<%- body %>
			<br>
			<div class="row" align="center">
				Thanks to <a href="http://www.seas.upenn.edu/~warcher/">William Archer</a> for letting us use his <a href="/stripes.jpg">graphic</a>.
			</div>
			<br>
		</div>

		<% include footer %>
	</body>	
</html>
